@{
    ViewData["Title"] = "Home Page";
}

<h2>Книги</h2>
@foreach (var book in Model)
{
<div class="books">
    <div class="book">
        @{
            string imageBase64Data = Convert.ToBase64String(book.CoverImage);
            string imageDataUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        }
        <img src="@imageDataUrl">
        <div class="book-info">
            <h4 class="book-name"><a asp-action="ShowBook" asp-route-id="@book.Id">@book.Name</a></h4>
            <h5 class="book-authors">@book.Authors</h5>
            <h6 class="book-language">Язык: @book.Language</h6>
            <h6 class="book-genre">Жанр: @book.Genre</h6>
            <span class="book-description">@book.Description</span>
        </div>
    </div>
</div>
}
