@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<h2>Книга</h2>
<div class="books">
    <div class="book">
        @{
            string imageBase64Data = Convert.ToBase64String(Model.CoverImage);
            string imageDataUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
        }
        <img src="@imageDataUrl">
        <div class="book-info">
            <h4 class="book-name"><a href="#">@Model.Name</a></h4>
            <h5 class="book-authors">@Model.Authors</h5>
            <h6 class="book-language">Язык: @Model.Language</h6>
            <h6 class="book-genre">Язык: @Model.Genre</h6>
            <span class="book-description">@Model.Description</span>
        </div>
    </div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <span style="color: red">Скачать книгу могут только зарегистрированные пользователи.</span>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
    {
        <form asp-action="DownloadBook" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-primary">
                Скачать
            </button>
        </form>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <form asp-action="DeleteBook" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-danger">
                Удалить
            </button>
        </form>
    }
</div>
